/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: skyblue;
}



h1 {
  text-align: center;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 12px;
}

button {
  padding: 10px 20px;
  background-color:red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: maroon;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.completed {
  text-decoration: line-through;
  color: #999;
}
